[submodule "presos/managing-your-mental-stack"]
	path = presos/managing-your-mental-stack
    url = https://github.com/mattstratton/managing-your-mental-stack.git
[submodule "presos/infrastructure-smores"]
	path = presos/infrastructure-smores
	url = https://github.com/mattstratton/infrastructure-smores.git
[submodule "presos/how-to-train-your-dragon-talks"]
	path = presos/how-to-train-your-dragon-talks
	url = git@github.com:mattstratton/how-to-train-your-dragon-talks.git
