[submodule "presos/managing-your-mental-stack"]
	path = presos/managing-your-mental-stack
    url = https://github.com/mattstratton/managing-your-mental-stack.git
[submodule "presos/infrastructure-smores"]
	path = presos/infrastructure-smores
	url = https://github.com/mattstratton/infrastructure-smores.git
[submodule "presos/how-to-train-your-dragon-talks"]
	path = presos/how-to-train-your-dragon-talks
	url = git@github.com:mattstratton/how-to-train-your-dragon-talks.git
[submodule "presos/five-love-languages-of-devops"]
	path = presos/five-love-languages-of-devops
	url = git@github.com:mattstratton/five-love-languages-of-devops.git
[submodule "presos/shifting=left-securely-dod-denver"]
	path = presos/shifting=left-securely-dod-denver
	url = git@github.com:mattstratton/shifting-left-securely-dod-denver.git
